# 语法参考 https://git-scm.com/docs/gitignore
# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen

# MacOS index files
.DS_Store
